/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/
.facet_filters strong{
	color: #DE493B!important;
}
footer .storename .address a:hover p{
	color: #474C4E!important;
}
footer .storename .address a:hover p, .social-icons li a:hover i{
	color: #474C4E!important;
}
.megaFeatured .menuWrapper p{
	letter-spacing: 0px!important;
	font-size: 12px!important;
}

.megaFeatured .menuWrapper *{
	letter-spacing: 0px!important;
}
.megaFeatured .menuWrapper .fl-rich-text a{
	padding-bottom: 0px!important;
	padding-top: 0px!important;
}
.megaFeatured .menuWrapper h2{
		text-transform: uppercase!important;
	}
/* .post-349394 .uabb-image-carousel .uabb-image-carousel-content .uabb-gallery-img, 
.post-349394 .uabb-masonary-content .uabb-image-carousel-content .uabb-gallery-img{
	max-height: 162px !important; 
} */



.button-wrapper a.button.alt:hover {
    background-color: #474C4E!important;
    color: #fff!important;
}
.loader-wrapper {
    width: 100%;
    height: 100Vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999999;
}
.loader {
display: inline-block;
width: 200px;
height: 100px;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;

}
/* search css */
.custom_searchModule {
    display: none;
    z-index: 2;
    position: absolute;
    right: 0px;
    top: 130px;
    padding: 5px 20px;
    min-width: 500px;
    max-width: 500px;
}
.fl-post-image-beside,
.fl-post-image-beside img{
	width: 100%; 
}
.menuMap .storename iframe{
	min-height: 250px!important;
}

/* css end here */
header .LocationAddressSection .address a {
    flex-direction: column;
    padding: 0px 10px!important;
}

header .storename .phone a {
    padding: 0px 10px!important;
}

header .address a p{
    margin-bottom: 0px!important;
    padding-bottom: 0px!important;
}
.PhoneWrapper .storename .phone a span:before {
    content: '\f095';
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    margin-right: 4px!important;
    vertical-align: middle;
/* 	color: #000!important; */
}
.gform_wrapper li.hidden_label input{
    margin-top: 0px!important;
}

.gform_wrapper .gfield_checkbox li input[type=checkbox], .gform_wrapper .gfield_radio li input[type=radio]{
    margin-top: 0px!important;
}
.gform_wrapper .gfield_required {
    color: #790000!important;
}
button#responsive-menu-button {
    height: 40px!important;
    width: 40px!important;
    
}
.topBar .menu a{ 
		line-height: 1.2em!important;
    } 
    .gform_wrapper .gfield_time_hour, 
    .gform_wrapper .gfield_time_minute {
        max-width: 5rem !important;
        min-width: 5rem !important;
    }
    .gform_wrapper .gfield_time_ampm select{
        padding: 15px 0 !important;
    }
.topBar .fl-row-content-wrap {
    padding: 10px 20px!important;
}
.gfield  input[type=text]{
	width: 100%!important;
}
.gfield_time_ampm select{
	min-width: 60px!important;
	width: 60px!important;
}

.gform_wrapper .gfield_time_hour i {
    margin-top: -3px!important;
}
.gfield {
	padding-right: 15px!important;
}

#hidden{
	display: none;
}
.dir_btn a.fl-button{
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 200px;
    min-height: 45px;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  
        font-size: 16px;
    line-height: 18px;
    font-weight: 500;	
}
.dir_btn a.fl-button:hover{
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
}
.add_loc .address p{
	margin-bottom: 0px!important;
	padding-bottom: 0px!important;
}
footer .address a{
    display: flex;
    justify-content: flex-end;  
}

header .address a{
    display: flex;
    align-items: center;
}
.address a p:first-child{
    margin-right: 4px;
}
header .storename,
header .address a p{
    margin: 0 ;
}
header .phone span:before,
footer .phone span:before,
#responsive-menu-container .phone span:before{
    content: '\f095'!important;
    display: inline-block;
    font: normal normal normal 16px/1 FontAwesome;
    margin-right: 4px!important;
/*     color: #fff!important; */
    vertical-align: middle;
}
#responsive-menu-container .phone span{
    color: #fff !important;
}
footer .uabb-infobox-title-prefix .phone  span{
    color: #fff;
    font-weight: 600;
}

.gform_wrapper.gf_browser_chrome .gfield_checkbox li input, .gform_wrapper.gf_browser_chrome .gfield_checkbox li input[type=checkbox], .gform_wrapper.gf_browser_chrome .gfield_radio li input[type=radio] {
    margin-top: 0px !important;
}


body.admin-bar .brex-mobile-menu-container-node {
    padding-top: 0px!important;
}
.uabb-image-carousel  .slick-arrow > i:before {
    color: #474C4E!important;
}
.uabb-image-carousel  .slick-arrow {
    background-color: transparent!important;
}
.couponform .ginput_container_checkbox a{
    color: #474C4E!important;
}
.couponform .ginput_container_checkbox a:hover{
    color: #474C4E!important;
}

.couponform .uabb-gf-style p{
    color: #54575a!important;
}   
.store-opening-hrs-container .store-opening-hrs {
    list-style: none!important;
    padding-left: 0px!important;
}
.store-opening-hrs-container .store-opening-hrs li{
    position: relative;!important;
}

.store-opening-hrs-container .store-opening-hrs li span{
    position: absolute;!important;
    right: 0px!important;
}
#breadcrumbs a{
   text-decoration: none!important;
}
form .gform_footer {
    padding-right: 20px!important;
}
.custom_searchHeader i:hover{
    cursor: pointer!important;
}

/* new menu css*/

header .menu li.mega-menu > .sub-menu{
    width: auto !important;
    margin: 0 -20px !important;
    text-align: left;
    background: none;
    padding-top: 25px;
}
header .menu li.mega-menu > .sub-menu .menu{
    float: none !important;
}
header .menu li.mega-menu > .sub-menu .menu.fl-menu-vertical > li{
    display: block;
}
header .menu li.mega-menu > .sub-menu .fl-menu{
    text-align: left !important;
} 

header .menu li.mega-menu > .sub-menu > li .fl-row-content-wrap{
    margin-top: 0px!important;
}

header .menu li.mega-menu > .sub-menu > li .fl-heading a{
    padding-left: 0px!important;
    padding-bottom: ;: 0px!important;
}
.topBar .storename .address a:hover p, .topBar .storename .phone a:hover span{
		color: #DE493B!important;
}
.featured-products .arrow.slick-prev.slick-arrow {
    left: -12px!important;
}
.featured-products .arrow.slick-next.slick-arrow {
    right: -12px!important;
}
@media(min-width: 1024px){
.forAlign > div{
    width: 100%!important;
    float: left;
}

}
@media(min-width: 768px){
	.brandSlider .slick-track{
    display: flex;
    align-items: center;
}
}

@media (min-width: 768px) and (max-width: 1024px){
.mainMenu #menu-header-menu-new > li > div > a, .mainMenu #menu-header-menu-new > li > a, .headerBtn a{
		font-size: 13px!important;
		letter-spacing: 0px!important;
}
.menuWrapper .uabb-infobox-title{
	font-size: 16px!important;
}	
.menuWrapper .fl-module-content{
	margin-left: 10px!important;
	margin-right: 10px!important;
}	
.store-opening-hrs-container .store-opening-hrs li span{
    position: absolute;!important;
    right: auto!important;
	left: 200px;
}	
.landscPadd .fl-row-content-wrap {
    margin-top: 0px!important;
    margin-bottom: 0px!important;
}
.productCatlogLinks .uabb-infobox-title-wrap .uabb-infobox-title{
    font-size: 18px!important;
}    
.mPad > div{
    margin: 20px!important;
}
    .forAlign .uabb-infobox > div > div{
    display: block!important;
}
.forAlign .uabb-infobox .uabb-infobox-content{
        width: 100%!important;
}
.box_styling h2{
    font-size: 20px!important;
}       
}
@media(min-width:992px){
    .fl-module-brex-mega-menu .brex-mega-menu .mega-menu-saved-row-container .fl-col-group  .fl-col-small{
        max-height: 300px;
    }
}
@media screen and (max-width: 992px){
    #responsive-menu-container #responsive-menu-search-box, #responsive-menu-container #responsive-menu-additional-content, #responsive-menu-container #responsive-menu-title {
        padding: 10px 5% !important;
    }
}
@media(max-width:768px){
.fl-slide .fl-slide-content{
	padding: 0px!important;	
}
	.search-row{
		padding: 0px 20px;
	}
    form .gform_footer {
    padding-right: 20px!important;
}
    header .address a,
    footer .address a{
        justify-content: center;
    }
    .brex-mega-menu>li{
        padding: 0px 5px;
    }
    button#responsive-menu-button{
        top: 35px !important;
    }
    footer .uabb-infobox-button .uabb-module-content{
        text-align: center !important;
    } 
    .max-width-issue{
        max-width: 400px !important;
        margin: 0 auto !important;
    }
}


@media (max-width: 735.5px) {
   .gform_footer {
    text-align: center!important;
}
}
@media(max-width:424px){
    header .address a p,
    header .phone span,
    footer .address a p{
        font-size: 13px !important;
    }
    header .fl-module-uabb-photo  .uabb-photo-content .uabb-photo-img{
        width: 220px;
    }
    button#responsive-menu-button{
        width: 40px !important;
        height: 40px !important;
    }
    button#responsive-menu-button {
    top: 25px !important;
}
}

@media(max-width:340px){
    header .address a p,
    header .phone span{
        font-size: 10px !important;
    }
    header .fl-module-uabb-photo  .uabb-photo-content .uabb-photo-img{
        width: 210px;
    }
    button#responsive-menu-button{
        top: 78px !important;
    }
    footer .address a p {
        font-size: 12px !important;
    }
}
.about-address .store-opening-hrs{
	text-align: left;
}